In [1]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

/opt/conda/lib/python3.5/site-packages/IPython/html.py:14: ShimWarning: The `IPython.html` package has been deprecated. You should import from `notebook` instead. `IPython.html.widgets` has moved to `ipywidgets`.
  "`IPython.html.widgets` has moved to `ipywidgets`.", ShimWarning)

In [2]:
train_df = pd.read_csv('./train.csv')
test_df = pd.read_csv('./test.csv')
combine = [train_df, test_df]

In [3]:
## Add Title
for dataset in combine:
    dataset['Title'] = dataset.Name.str.extract(' ([A-Za-z]+)\.', expand=False)

pd.crosstab(train_df['Title'], train_df['Survived'])

Survived    0    1
Title
Capt        1    0
Col         1    1
Countess    0    1
Don         1    0
Dr          4    3
Jonkheer    1    0
Lady        0    1
Major       1    1
Master     17   23
Miss       55  127
Mlle        0    2
Mme         0    1
Mr        436   81
Mrs        26   99
Ms          0    1
Rev         6    0
Sir         0    1

In [4]:
## Add Title
for dataset in combine:
    dataset['Title'] = dataset.Name.str.extract(' ([A-Za-z]+)\.', expand=False)

    dataset['Title'] = dataset['Title'].replace(['Lady', 'Countess','Capt', 'Col', 'Don', 'Dr', 'Sir', 'Major', 'Jonkheer', 'Dona'], 'Rare')

    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')

print(train_df[['Title', 'Survived']].groupby(['Title'], as_index=False).mean())

title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Rare": 5, "Rev": 6}
for dataset in combine:
    dataset['Title'] = dataset['Title'].map(title_mapping)
    dataset['Title'] = dataset['Title'].fillna(0)

    Title  Survived
0  Master  0.575000
1    Miss  0.702703
2      Mr  0.156673
3     Mrs  0.793651
4    Rare  0.470588
5     Rev  0.000000

In [5]:
## Add length of name
for dataset in combine:
    dataset['NameLength'] = (dataset.Name.str.len() / 15).astype(int)

pd.crosstab(train_df['NameLength'], train_df['Sex'])
pd.crosstab(test_df['NameLength'], test_df['Sex'])

Sex         female  male
NameLength
0                0     3
1               71   225
2               47    36
3               31     2
4                3     0

In [6]:
## Add Family Name and survival rate
for dataset in combine:
    dataset['FamilyName'] = dataset.Name.str.extract('(\w+),', expand=False).fillna("")

family_survial_rate = {}
for family_name in train_df.FamilyName.unique():
    family_survial_rate[family_name] = train_df[(train_df['FamilyName'] == family_name)]['Survived'].mean()

for dataset in combine:
    dataset['FamilySurvivedRate'] = 1
    for family_name in train_df.FamilyName.unique():
        if family_survial_rate.get(family_name) and family_survial_rate.get(family_name) < 0.5:
            dataset.loc[(dataset['FamilyName'] == family_name) & (dataset["SibSp"] + dataset["Parch"] > 0), 'FamilySurvivedRate'] = 0
        if family_survial_rate.get(family_name) and family_survial_rate.get(family_name) >= 0.5:
            dataset.loc[(dataset['FamilyName'] == family_name) & (dataset["SibSp"] + dataset["Parch"] > 0), 'FamilySurvivedRate'] = 2
    
pd.crosstab(train_df['FamilySurvivedRate'], train_df['Survived'])
train_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,NameLength,FamilyName,FamilySurvivedRate
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,1,1,Braund,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,3,3,Cumings,2
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,2,1,Heikkinen,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,3,2,Futrelle,2
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,1,1,Allen,1
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,1,1,Moran,1
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,1,1,McCarthy,1
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,4,2,Palsson,1
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,3,3,Johnson,2
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,3,2,Nasser,2
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,2,2,Sandstrom,2
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,2,1,Bonnell,1
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S,1,2,Saundercock,1
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S,1,1,Andersson,0
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S,2,2,Vestrom,1
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S,3,2,Hewlett,1
16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q,4,1,Rice,1
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,1,1,Williams,1
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S,3,3,Planke,1
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,3,1,Masselmani,1
20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S,1,1,Fynney,1
21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S,1,1,Beesley,1
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q,2,1,McGowan,1
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S,1,1,Sloper,1
24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S,2,1,Palsson,1
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S,3,3,Asplund,2
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,1,1,Emir,1
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S,1,2,Fortune,2
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,2,1,Dwyer,1
29,30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S,1,1,Todoroff,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S,1,1,Giles,1
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S,3,3,Swift,1
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,2,2,Sage,1
864,865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S,1,1,Gill,1
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S,3,1,Bystrom,1
866,867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C,2,1,More,2
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S,1,2,Roebling,1
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,1,1,Melkebeke,1
869,870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S,4,2,Johnson,2
870,871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S,1,1,Balkic,1
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,3,3,Beckwith,2
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,1,1,Carlsson,1
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S,1,1,Cruyssen,1
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C,3,2,Abelson,2
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C,2,2,Najib,1
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S,1,1,Gustafsson,1
877,878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S,1,1,Petroff,1
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,1,1,Laleff,1
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,3,3,Potter,2
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,3,2,Shelley,2
881,882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S,1,1,Markun,1
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S,2,1,Dahlberg,1
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,1,1,Banfield,1
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,1,1,Sutehall,1
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,3,2,Rice,1
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,6,1,Montvila,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,2,1,Graham,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,2,2,Johnston,1
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,1,1,Behr,1
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,1,1,Dooley,1

In [7]:
## Add Cabin type
for dataset in combine:
    dataset['CabinType'] = dataset.Cabin.str.extract('^(.)', expand=False).fillna('T').map( {'A': 1, 'G': 1, 'B': 2, 'D': 2, 'E': 2, 'C': 3, 'F': 3, 'T': 3} ).astype(int)

pd.crosstab(train_df['CabinType'], train_df['Sex'])
pd.crosstab(test_df['CabinType'], train_df['Sex'])

Sex        female  male
CabinType
1.0             4     4
2.0            10    30
3.0           146   224

In [8]:
## Convert Sex to int
for dataset in combine:
    dataset['SexType'] = dataset['Sex'].map( {'female': 1, 'male': 0} ).astype(int)

pd.crosstab(train_df['SexType'], train_df['Survived'])

Survived    0    1
SexType
0         468  109
1          81  233

In [9]:
guess_ages = np.zeros((2,3))
guess_ages

for dataset in combine:
    for i in range(0, 2): # Sex
        for j in range(0, 3): # Pclass
            guess_df = dataset[(dataset['SexType'] == i) & (dataset['Pclass'] == j+1)]['Age'].dropna()

            age_guess = guess_df.median()

            # Convert random age float to nearest .5 age
            guess_ages[i,j] = int( age_guess/0.5 + 0.5 ) * 0.5
            
    for i in range(0, 2):
        for j in range(0, 3):
            dataset.loc[ dataset.Age.isnull() & (dataset.SexType == i) & (dataset.Pclass == j + 1), 'Age'] = guess_ages[i,j]

    dataset['Age'] = dataset['Age'].astype(int)

train_df.Age

0      22
1      38
2      26
3      35
4      35
5      25
6      54
7       2
8      27
9      14
10      4
11     58
12     20
13     39
14     14
15     55
16      2
17     30
18     31
19     21
20     35
21     34
22     15
23     28
24      8
25     38
26     25
27     19
28     21
29     25
       ..
861    21
862    48
863    21
864    24
865    42
866    27
867    31
868    25
869     4
870    26
871    47
872    33
873    47
874    28
875    15
876    20
877    19
878    25
879    56
880    25
881    33
882    22
883    28
884    25
885    39
886    27
887    19
888    21
889    26
890    32
Name: Age, dtype: int64

In [10]:
for dataset in combine:
    dataset['FamilySize'] = dataset['SibSp'] + dataset['Parch']

train_df[['FamilySize', 'Survived']].groupby(['FamilySize'], as_index=False).mean().sort_values(by='Survived', ascending=False)

   FamilySize  Survived
3           3  0.724138
2           2  0.578431
1           1  0.552795
6           6  0.333333
0           0  0.303538
4           4  0.200000
5           5  0.136364
7           7  0.000000
8          10  0.000000

In [11]:
## Add family features
for dataset in combine:
    dataset['IsAlone'] = 0
    dataset.loc[dataset['FamilySize'] == 0, 'IsAlone'] = 1

train_df[['IsAlone', 'Survived']].groupby(['IsAlone'], as_index=False).mean()

   IsAlone  Survived
0        0  0.505650
1        1  0.303538

In [12]:
for dataset in combine:    
    dataset.loc[ dataset['Age'] <= 16, 'Age'] = 0
    dataset.loc[(dataset['Age'] > 16) & (dataset['Age'] <= 32), 'Age'] = 1
    dataset.loc[(dataset['Age'] > 32) & (dataset['Age'] <= 48), 'Age'] = 2
    dataset.loc[(dataset['Age'] > 48) & (dataset['Age'] <= 64), 'Age'] = 3
    dataset.loc[ dataset['Age'] > 64, 'Age']
train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,Embarked,Title,NameLength,FamilyName,FamilySurvivedRate,CabinType,SexType,FamilySize,IsAlone,manyFamily
0,1,0,3,"Braund, Mr. Owen Harris",male,1,1,0,A/5 21171,7.2500,...,S,1,1,Braund,1,3,0,1,0,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,2,1,0,PC 17599,71.2833,...,C,3,3,Cumings,2,3,1,1,0,0
2,3,1,3,"Heikkinen, Miss. Laina",female,1,0,0,STON/O2. 3101282,7.9250,...,S,2,1,Heikkinen,1,3,1,0,1,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,2,1,0,113803,53.1000,...,S,3,2,Futrelle,2,3,1,1,0,0
4,5,0,3,"Allen, Mr. William Henry",male,2,0,0,373450,8.0500,...,S,1,1,Allen,1,3,0,0,1,0

In [13]:
## Add Age*Class
for dataset in combine:
    dataset['Age*Class'] = dataset.Age * dataset.Pclass

train_df.loc[:, ['Age*Class', 'Age', 'Pclass']].head(10)

   Age*Class  Age  Pclass
0          3    1       3
1          2    2       1
2          3    1       3
3          2    2       1
4          6    2       3
5          3    1       3
6          3    3       1
7          0    0       3
8          3    1       3
9          0    0       2

In [14]:
for dataset in combine:
    dataset['Embarked'] = dataset['Embarked'].fillna('S')
    
train_df[['Embarked', 'Survived']].groupby(['Embarked'], as_index=False).mean().sort_values(by='Survived', ascending=False)

  Embarked  Survived
0        C  0.553571
1        Q  0.389610
2        S  0.339009

In [15]:
for dataset in combine:
    dataset['EmbarkedType'] = dataset['Embarked'].map( {'S': 0, 'C': 1, 'Q': 2} ).astype(int)

train_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,NameLength,FamilyName,FamilySurvivedRate,CabinType,SexType,FamilySize,IsAlone,manyFamily,Age*Class,EmbarkedType
0,1,0,3,"Braund, Mr. Owen Harris",male,1,1,0,A/5 21171,7.2500,...,1,Braund,1,3,0,1,0,0,3,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,2,1,0,PC 17599,71.2833,...,3,Cumings,2,3,1,1,0,0,2,1
2,3,1,3,"Heikkinen, Miss. Laina",female,1,0,0,STON/O2. 3101282,7.9250,...,1,Heikkinen,1,3,1,0,1,0,3,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,2,1,0,113803,53.1000,...,2,Futrelle,2,3,1,1,0,0,2,0
4,5,0,3,"Allen, Mr. William Henry",male,2,0,0,373450,8.0500,...,1,Allen,1,3,0,0,1,0,6,0

In [16]:
test_df['Fare'].fillna(test_df['Fare'].dropna().median(), inplace=True)

In [17]:
train_df['FareBand'] = pd.qcut(train_df['Fare'], 4)
train_df[['FareBand', 'Survived']].groupby(['FareBand'], as_index=False).mean().sort_values(by='FareBand', ascending=True)

for dataset in combine:
    dataset.loc[ dataset['Fare'] <= 7.91, 'Fare'] = 0
    dataset.loc[(dataset['Fare'] > 7.91) & (dataset['Fare'] <= 14.454), 'Fare'] = 1
    dataset.loc[(dataset['Fare'] > 14.454) & (dataset['Fare'] <= 31), 'Fare']   = 2
    dataset.loc[ dataset['Fare'] > 31, 'Fare'] = 3
    dataset['Fare'] = dataset['Fare'].astype(int)

train_df = train_df.drop(['FareBand'], axis=1)
combine = [train_df, test_df]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,NameLength,FamilyName,FamilySurvivedRate,CabinType,SexType,FamilySize,IsAlone,manyFamily,Age*Class,EmbarkedType
0,1,0,3,"Braund, Mr. Owen Harris",male,1,1,0,A/5 21171,0,...,1,Braund,1,3,0,1,0,0,3,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,2,1,0,PC 17599,3,...,3,Cumings,2,3,1,1,0,0,2,1
2,3,1,3,"Heikkinen, Miss. Laina",female,1,0,0,STON/O2. 3101282,1,...,1,Heikkinen,1,3,1,0,1,0,3,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,2,1,0,113803,3,...,2,Futrelle,2,3,1,1,0,0,2,0
4,5,0,3,"Allen, Mr. William Henry",male,2,0,0,373450,1,...,1,Allen,1,3,0,0,1,0,6,0
5,6,0,3,"Moran, Mr. James",male,1,0,0,330877,1,...,1,Moran,1,3,0,0,1,0,3,2
6,7,0,1,"McCarthy, Mr. Timothy J",male,3,0,0,17463,3,...,1,McCarthy,1,2,0,0,1,0,3,0
7,8,0,3,"Palsson, Master. Gosta Leonard",male,0,3,1,349909,2,...,2,Palsson,1,3,0,4,0,1,0,0
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,1,0,2,347742,1,...,3,Johnson,2,3,1,2,0,0,3,0
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,0,1,0,237736,2,...,2,Nasser,2,3,1,1,0,0,0,1

In [18]:
train_df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,...,NameLength,FamilyName,FamilySurvivedRate,CabinType,SexType,FamilySize,IsAlone,manyFamily,Age*Class,EmbarkedType
0,1,0,3,"Braund, Mr. Owen Harris",male,1,1,0,A/5 21171,0,...,1,Braund,1,3,0,1,0,0,3,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,2,1,0,PC 17599,3,...,3,Cumings,2,3,1,1,0,0,2,1
2,3,1,3,"Heikkinen, Miss. Laina",female,1,0,0,STON/O2. 3101282,1,...,1,Heikkinen,1,3,1,0,1,0,3,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,2,1,0,113803,3,...,2,Futrelle,2,3,1,1,0,0,2,0
4,5,0,3,"Allen, Mr. William Henry",male,2,0,0,373450,1,...,1,Allen,1,3,0,0,1,0,6,0
5,6,0,3,"Moran, Mr. James",male,1,0,0,330877,1,...,1,Moran,1,3,0,0,1,0,3,2
6,7,0,1,"McCarthy, Mr. Timothy J",male,3,0,0,17463,3,...,1,McCarthy,1,2,0,0,1,0,3,0
7,8,0,3,"Palsson, Master. Gosta Leonard",male,0,3,1,349909,2,...,2,Palsson,1,3,0,4,0,1,0,0
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,1,0,2,347742,1,...,3,Johnson,2,3,1,2,0,0,3,0
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,0,1,0,237736,2,...,2,Nasser,2,3,1,1,0,0,0,1
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,0,1,1,PP 9549,2,...,2,Sandstrom,2,1,1,2,0,0,0,0
11,12,1,1,"Bonnell, Miss. Elizabeth",female,3,0,0,113783,2,...,1,Bonnell,1,3,1,0,1,0,3,0
12,13,0,3,"Saundercock, Mr. William Henry",male,1,0,0,A/5. 2151,1,...,2,Saundercock,1,3,0,0,1,0,3,0
13,14,0,3,"Andersson, Mr. Anders Johan",male,2,1,5,347082,3,...,1,Andersson,0,3,0,6,0,1,6,0
14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,0,0,0,350406,0,...,2,Vestrom,1,3,1,0,1,0,0,0
15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,3,0,0,248706,2,...,2,Hewlett,1,3,1,0,1,0,6,0
16,17,0,3,"Rice, Master. Eugene",male,0,4,1,382652,2,...,1,Rice,1,3,0,5,0,1,0,2
17,18,1,2,"Williams, Mr. Charles Eugene",male,1,0,0,244373,1,...,1,Williams,1,3,0,0,1,0,2,0
18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,1,1,0,345763,2,...,3,Planke,1,3,1,1,0,0,3,0
19,20,1,3,"Masselmani, Mrs. Fatima",female,1,0,0,2649,0,...,1,Masselmani,1,3,1,0,1,0,3,1
20,21,0,2,"Fynney, Mr. Joseph J",male,2,0,0,239865,2,...,1,Fynney,1,3,0,0,1,0,4,0
21,22,1,2,"Beesley, Mr. Lawrence",male,2,0,0,248698,1,...,1,Beesley,1,2,0,0,1,0,4,0
22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,0,0,0,330923,1,...,1,McGowan,1,3,1,0,1,0,0,2
23,24,1,1,"Sloper, Mr. William Thompson",male,1,0,0,113788,3,...,1,Sloper,1,1,0,0,1,0,1,0
24,25,0,3,"Palsson, Miss. Torborg Danira",female,0,3,1,349909,2,...,1,Palsson,1,3,1,4,0,1,0,0
25,26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,2,1,5,347077,3,...,3,Asplund,2,3,1,6,0,1,6,0
26,27,0,3,"Emir, Mr. Farred Chehab",male,1,0,0,2631,0,...,1,Emir,1,3,0,0,1,0,3,1
27,28,0,1,"Fortune, Mr. Charles Alexander",male,1,3,2,19950,3,...,2,Fortune,2,3,0,5,0,1,1,0
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,1,0,0,330959,0,...,1,Dwyer,1,3,1,0,1,0,3,2
29,30,0,3,"Todoroff, Mr. Lalio",male,1,0,0,349216,0,...,1,Todoroff,1,3,0,0,1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
861,862,0,2,"Giles, Mr. Frederick Edward",male,1,1,0,28134,1,...,1,Giles,1,3,0,1,0,0,2,0
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,2,0,0,17466,2,...,3,Swift,1,2,1,0,1,0,2,0
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,1,8,2,CA. 2343,3,...,2,Sage,1,3,1,10,0,1,3,0
864,865,0,2,"Gill, Mr. John William",male,1,0,0,233866,1,...,1,Gill,1,3,0,0,1,0,2,0
865,866,1,2,"Bystrom, Mrs. (Karolina)",female,2,0,0,236852,1,...,1,Bystrom,1,3,1,0,1,0,4,0
866,867,1,2,"Duran y More, Miss. Asuncion",female,1,1,0,SC/PARIS 2149,1,...,1,More,2,3,1,1,0,0,2,1
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,1,0,0,PC 17590,3,...,2,Roebling,1,1,0,0,1,0,1,0
868,869,0,3,"van Melkebeke, Mr. Philemon",male,1,0,0,345777,1,...,1,Melkebeke,1,3,0,0,1,0,3,0
869,870,1,3,"Johnson, Master. Harold Theodor",male,0,1,1,347742,1,...,2,Johnson,2,3,0,2,0,0,0,0
870,871,0,3,"Balkic, Mr. Cerin",male,1,0,0,349248,0,...,1,Balkic,1,3,0,0,1,0,3,0
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,2,1,1,11751,3,...,3,Beckwith,2,2,1,2,0,0,2,0
872,873,0,1,"Carlsson, Mr. Frans Olof",male,2,0,0,695,0,...,1,Carlsson,1,2,0,0,1,0,2,0
873,874,0,3,"Vander Cruyssen, Mr. Victor",male,2,0,0,345765,1,...,1,Cruyssen,1,3,0,0,1,0,6,0
874,875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,1,1,0,P/PP 3381,2,...,2,Abelson,2,3,1,1,0,0,2,1
875,876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,0,0,0,2667,0,...,2,Najib,1,3,1,0,1,0,0,1
876,877,0,3,"Gustafsson, Mr. Alfred Ossian",male,1,0,0,7534,1,...,1,Gustafsson,1,3,0,0,1,0,3,0
877,878,0,3,"Petroff, Mr. Nedelio",male,1,0,0,349212,0,...,1,Petroff,1,3,0,0,1,0,3,0
878,879,0,3,"Laleff, Mr. Kristo",male,1,0,0,349217,0,...,1,Laleff,1,3,0,0,1,0,3,0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,3,0,1,11767,3,...,3,Potter,2,3,1,1,0,0,3,1
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,1,0,1,230433,2,...,2,Shelley,2,3,1,1,0,0,2,0
881,882,0,3,"Markun, Mr. Johann",male,2,0,0,349257,0,...,1,Markun,1,3,0,0,1,0,6,0
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,1,0,0,7552,1,...,1,Dahlberg,1,3,1,0,1,0,3,0
883,884,0,2,"Banfield, Mr. Frederick James",male,1,0,0,C.A./SOTON 34068,1,...,1,Banfield,1,3,0,0,1,0,2,0
884,885,0,3,"Sutehall, Mr. Henry Jr",male,1,0,0,SOTON/OQ 392076,0,...,1,Sutehall,1,3,0,0,1,0,3,0
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,2,0,5,382652,2,...,2,Rice,1,3,1,5,0,1,6,2
886,887,0,2,"Montvila, Rev. Juozas",male,1,0,0,211536,1,...,1,Montvila,1,3,0,0,1,0,2,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,1,0,0,112053,2,...,1,Graham,1,2,1,0,1,0,1,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,1,1,2,W./C. 6607,2,...,2,Johnston,1,3,1,3,0,0,3,0
889,890,1,1,"Behr, Mr. Karl Howell",male,1,0,0,111369,2,...,1,Behr,1,3,0,0,1,0,1,1
890,891,0,3,"Dooley, Mr. Patrick",male,1,0,0,370376,0,...,1,Dooley,1,3,0,0,1,0,3,2

In [19]:
##
## Predict
##

### cross validation
from sklearn.model_selection import cross_val_score

### 
from sklearn.ensemble import RandomForestClassifier
import xgboost as xgb

/opt/conda/lib/python3.5/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [20]:
X_train = train_df.drop(["PassengerId", "Survived", "Name", "Sex", "FamilySize", "manyFamily", "SibSp", "Parch", "Ticket", "Cabin", "Embarked", "EmbarkedType", "CabinType", "FamilyName"], axis=1)
Y_train = train_df["Survived"]
X_test  = test_df.drop(["PassengerId",                      "Name", "Sex", "FamilySize", "manyFamily", "SibSp", "Parch", "Ticket", "Cabin", "Embarked", "EmbarkedType", "CabinType", "FamilyName"], axis=1).copy()
print(X_train.shape, Y_train.shape, X_test.shape)
X_train

(891, 9) (891,) (418, 9)

,Pclass,Age,Fare,Title,NameLength,FamilySurvivedRate,SexType,IsAlone,Age*Class
0,3,1,0,1,1,1,0,0,3
1,1,2,3,3,3,2,1,0,2
2,3,1,1,2,1,1,1,1,3
3,1,2,3,3,2,2,1,0,2
4,3,2,1,1,1,1,0,1,6
5,3,1,1,1,1,1,0,1,3
6,1,3,3,1,1,1,0,1,3
7,3,0,2,4,2,1,0,0,0
8,3,1,1,3,3,2,1,0,3
9,2,0,2,3,2,2,1,0,0
10,3,0,2,2,2,2,1,0,0
11,1,3,2,2,1,1,1,1,3
12,3,1,1,1,2,1,0,1,3
13,3,2,3,1,1,0,0,0,6
14,3,0,0,2,2,1,1,1,0
15,2,3,2,3,2,1,1,1,6
16,3,0,2,4,1,1,0,0,0
17,2,1,1,1,1,1,0,1,2
18,3,1,2,3,3,1,1,0,3
19,3,1,0,3,1,1,1,1,3
20,2,2,2,1,1,1,0,1,4
21,2,2,1,1,1,1,0,1,4
22,3,0,1,2,1,1,1,1,0
23,1,1,3,1,1,1,0,1,1
24,3,0,2,2,1,1,1,0,0
25,3,2,3,3,3,2,1,0,6
26,3,1,0,1,1,1,0,1,3
27,1,1,3,1,2,2,0,0,1
28,3,1,0,2,1,1,1,1,3
29,3,1,0,1,1,1,0,1,3
...,...,...,...,...,...,...,...,...,...
861,2,1,1,1,1,1,0,0,2
862,1,2,2,3,3,1,1,1,2
863,3,1,3,2,2,1,1,0,3
864,2,1,1,1,1,1,0,1,2
865,2,2,1,3,1,1,1,1,4
866,2,1,1,2,1,2,1,0,2
867,1,1,3,1,2,1,0,1,1
868,3,1,1,1,1,1,0,1,3
869,3,0,1,4,2,2,0,0,0
870,3,1,0,1,1,1,0,1,3
871,1,2,3,3,3,2,1,0,2
872,1,2,0,1,1,1,0,1,2
873,3,2,1,1,1,1,0,1,6
874,2,1,2,3,2,2,1,0,2
875,3,0,0,2,2,1,1,1,0
876,3,1,1,1,1,1,0,1,3
877,3,1,0,1,1,1,0,1,3
878,3,1,0,1,1,1,0,1,3
879,1,3,3,3,3,2,1,0,3
880,2,1,2,3,2,2,1,0,2
881,3,2,0,1,1,1,0,1,6
882,3,1,1,2,1,1,1,1,3
883,2,1,1,1,1,1,0,1,2
884,3,1,0,1,1,1,0,1,3
885,3,2,2,3,2,1,1,0,6
886,2,1,1,6,1,1,0,1,2
887,1,1,2,2,1,1,1,1,1
888,3,1,2,2,2,1,1,0,3
889,1,1,2,1,1,1,0,1,1
890,3,1,0,1,1,1,0,1,3

In [21]:
# Random Forest

random_forest = RandomForestClassifier(n_estimators=200, max_depth=3)
random_forest.fit(X_train, Y_train)
Y_pred = random_forest.predict(X_test)
random_forest.score(X_train, Y_train)
acc_random_forest = round(random_forest.score(X_train, Y_train) * 100, 2)
print(acc_random_forest)

print(cross_val_score(random_forest, X_train, Y_train, cv=4).mean())

86.2
0.847390431751

In [22]:
gbm = xgb.XGBClassifier(max_depth=3, n_estimators=30, learning_rate=0.05).fit(X_train, Y_train)
Y_pred = gbm.predict(X_test)

acc_xgboost= round(gbm.score(X_train, Y_train) * 100, 2)
print(acc_xgboost)
print(cross_val_score(gbm, X_train, Y_train, cv=4).mean())

86.2
0.856319048268

In [23]:
submission = pd.DataFrame({
        "PassengerId": test_df["PassengerId"],
        "Survived": Y_pred
    })
print(submission)

submission.to_csv('./my_submission.csv', index=False)

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         0
19           911         1
20           912         0
21           913         0
22           914         1
23           915         0
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         0
391         1283         1
392         1284         1
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         0
404         1296         1
405         1297         0
406         1298         0
407         1299         0
408         1300         1
409         1301         0
410         1302         1
411         1303         1
412         1304         1
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         1

[418 rows x 2 columns]